<div class="row container-fluid">
  <div class="row col-lg-12">
    <h2>List Movie</h2>
  </div>
  <div class="row col-lg-12">
    <a class="btn btn-success" [routerLink]="['/movie-create']">Create new movie</a>
    <table class="table table-bordered table-striped mt-3">
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name Movie</th>
        <th>Premiere Date</th>
        <th>Quantity of Ticket</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.idMovie}}</td>
        <td>{{movie.nameMovie}}</td>
        <td>{{movie.dateShow | date:'dd/MM/yyyy'}}</td>
        <td>{{movie.quantityTicket}}</td>
        <td>
          <a class="btn btn-sm btn-danger" (click)="openDialogDelete(movie.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
