<div class="row">
  <div class="col-lg-1"></div>
  <div style="padding-top: 3rem" class="col-lg-2">
    <div class="row">
      <a class="btn btn-warning" href="/">Create new contract</a>
    </div>
    <div style="padding-top:2rem " class="row">
      <a class="btn btn-warning" href="/">Create new detail</a>
    </div>
  </div>
  <div class="col-lg-9">
    <table class="table table-bordered table-striped ">
      <tr>
        <th>Id</th>
        <th>Start Day</th>
        <th>End Day</th>
        <th>Deposit</th>
        <th>ToTal Money</th>
        <th>Customer</th>
        <th>Service</th>
      </tr>
      <tr >
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
      </tr>
    </table>

  </div>
</div>
