<button class="btn btn-success">Add new Employee</button>
<table class="table table-bordered table-striped ">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Day of Birth</th>
    <th>Id Card</th>
    <th>Salary</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Position</th>
    <th>Education</th>
    <th>Division</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a class="btn btn-warning">Edit</a></td>
    <td><a class="btn btn-warning" id="deleteButton">Delete</a></td>
  </tr>
</table>
