<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/list}">Back to list</a>.
<form th:action="@{/product/delete}" th:object="${product}" method="post" novalidate="novalidate">
<fieldset>
    <legend>Product information</legend>
    <table>
        <input type="hidden" th:field="*{id}"/>
        <tr>
            <td>Id:</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="*{price}"></td>
        </tr>
        <tr>
            <td>Describe:</td>
            <td th:text="*{manufacture}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</fieldset>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>