<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Blog</h1>
<h3><a href="/">Back to list blog</a></h3>
<form th:action="@{/create}" th:method="post" th:object="${blog}">
    <fieldset>
        <legend>Add new blog</legend>
        <table>
            <tr>
                <td>Author : </td>
                <td><input type="text" th:field="*{author}"></td>
            </tr>
            <tr>
                <td>Title : </td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Author : </td>
                <td><textarea cols="50" rows="7" th:field="*{content}"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>