<div class="row">
  <div class="col-lg-1"></div>
  <div style="padding-top: 3rem" class="col-lg-2">
    <a class="btn btn-success" href="#">Back To list Employee</a>
  </div>
  <div class="col-lg-9">
    <h1>Add New Employee</h1>
      <div class="row">
        <div class="form-group col-md-8">
          <label for="inputName">Name Employee</label>
          <input type="text" class="form-control" id="inputName"  placeholder="Input name Employee">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="birth">Day of birth</label>
          <input type="date" class="form-control" id="birth" placeholder="Input birthday">

        </div>
        <div class="form-group col-md-4">
          <label for="idCard">ID Card</label>
          <input type="text" class="form-control" id="idCard"  placeholder="Input Id Card" >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="salary">Salary</label>
          <input type="text" class="form-control" id="salary"  placeholder="Input cost">
        </div>
        <div class="form-group col-md-4">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone"  placeholder="Input phone number">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <label for="position">Position</label>
          <select id="position" class="form-control">
            <option></option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="education">Education Dgree</label>
          <select id="education" class="form-control" >
            <option></option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputTypeService">Type Service</label>
          <select id="inputTypeService" class="form-control" >
            <option></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-7">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email"  placeholder="Input email">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address"  placeholder="Input address" >

        </div>
        <!--                <div class="form-group col-md-4">
                            <label for="permission">Access Permission</label>
                            <select id="permission" class="form-control" th:field="*{user}">
                                <option th:each="user : ${users}" th:value="${user.getUsername()}" th:text="${user.username}"></option>
                            </select>
                        </div>-->
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success">Add Employee</button>
        </div>
      </div>
  </div>
</div>
