<div class="row">
  <div class="col-lg-1"></div>
  <div style="padding-top: 3rem" class="col-lg-2">
    <a class="btn btn-success" href="/service">Back To list Service</a>
  </div>
  <div class="col-lg-9">
    <h1>Add New Service</h1>
      <div class="row">
        <div class="form-group col-md-8">
          <label for="inputName">Name Service</label>
          <input type="text" class="form-control" id="inputName"   placeholder="Input name Service">

        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="inputArea">Area Service</label>
          <input type="text" class="form-control" id="inputArea"  placeholder="Input area use">

        </div>
        <div class="form-group col-md-4">
          <label for="standardRoom">Standard Room</label>
          <input type="text" class="form-control" id="standardRoom"  placeholder="Input standard room" ">

        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="cost">Cost</label>
          <input type="text" class="form-control" id="cost"  placeholder="Input cost" >

        </div>
        <div class="form-group col-md-4">
          <label for="maxPeople">Max people</label>
          <input type="text" class="form-control" id="maxPeople"  placeholder="Input max people">

        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="inputTypeRent">Rent Type</label>
          <select id="inputTypeRent" class="form-control" >
            <option></option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputTypeService">Type Service</label>
          <select id="inputTypeService" class="form-control" >
            <option ></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-7">
          <label for="descriptionOtherConvenience">Other Convenience</label>
          <input type="text" class="form-control" id="descriptionOtherConvenience"  placeholder="Input description">

        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="pool">Pool Area</label>
          <input type="text" class="form-control" id="pool"  placeholder="Input address" >

        </div>
        <div class="form-group col-md-3">
          <label for="floor">Number Floor</label>
          <input type="number" class="form-control" id="floor"  placeholder="Input floor">

        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success">Add Service</button>
        </div>
      </div>
  </div>
</div>
