<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:replace="/layout :: header"></header>
<div class="row">
    <div class="col-lg-3">
        <div class="list-group border border-dark rounded h-100">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                List Contract
            </a>
            <a href="/contract/create-form-contract" class="list-group-item list-group-item-action" >Create new contract</a>
            <a href="/contract/create-detail" class="list-group-item list-group-item-action" >Create new detail contract</a>
            <a href="/contract-detail/view" class="list-group-item list-group-item-action" >List Contract detail</a>
        </div>
    </div>
    <div class="col-lg-9">
        <h5 class="text-success" th:if="${message != null}">
            You have added contract <span class="text-danger" th:text="${message}"></span> to list successfully !!!
        </h5>
        <h5 class="text-success" th:if="${addSuccess != null}">
            You have added detail service <span class="text-danger" th:text="${addSuccess}"></span> successfully !!!
        </h5>
        <table class="table table-bordered table-striped ">
            <tr>
                <th>Id</th>
                <th>Start Day</th>
                <th>End Day</th>
                <th>Customer</th>
                <th>Service</th>
                <th>Service Cost</th>
                <th>Employee</th>
                <th>Total money</th>
            </tr>
            <tr th:each="contract :${contractList}">
                <td th:text="${contract.contractId}"></td>
                <td th:text="${contract.contractStartDate}"></td>
                <td th:text="${contract.contractEndDate}"></td>
                <td th:text="${contract.customer.name}"></td>
                <td th:text="${contract.service.serviceName}"></td>
                <td th:text="${contract.contractDeposit}"></td>
                <td th:text="${contract.employee.name}"></td>
                <td th:text="${contract.contractTotalMoney}"></td>
            </tr>
        </table>
        <div>
            <a th:href="@{'/contract'(page=${contractList.number - 1})}" th:if="${contractList.hasPrevious()}">Previous</a>
            <span th:text="${contractList.number + 1}"></span>/<span th:text="${contractList.totalPages}"></span>
            <a th:href="@{'/contract'(page=${contractList.number + 1})}" th:if="${contractList.hasNext()}">Next</a>
        </div>


    </div>
</div>
<footer th:replace="/layout :: footer"></footer>

<script src="jquery/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>