<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:replace="/layout :: header"></header>
<div class="row">
    <div class="col-lg-1"></div>
    <div style="padding-top: 3rem" class="col-lg-2">
        <a class="btn btn-success" href="/contract">Back To list contract</a>
    </div>
    <div class="col-lg-9">
        <table class="table table-bordered table-striped ">
            <tr>
                <th>Id</th>
                <th>Contract ID</th>
                <th>ID Customer</th>
                <th>Name Customer</th>
                <th>Name Attach Service</th>
                <th>Attach Cost</th>
                <th>Quantity</th>
                <th>Total Attach Service</th>
            </tr>
            <tr th:each="contractDetail :${contractDetailList}">
                <td th:text="${contractDetail.contractDetailId}"></td>
                <td th:text="${contractDetail.contract.contractId}"></td>
                <td th:text="${contractDetail.contract.customer.customerId}"></td>
                <td th:text="${contractDetail.contract.customer.name}"></td>
                <td th:text="${contractDetail.attachService.attachServiceName}"></td>
                <td th:text="${contractDetail.attachService.attachServiceCost}"></td>
                <td th:text="${contractDetail.quantity}"></td>
                <td th:text="${contractDetail.totalUsingAttachService()}"></td>
            </tr>
        </table>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>