<div class="row container-fluid">
  <div class="row col-lg-12">
    <h2>List Employee</h2>
  </div>
  <div class="row col-lg-12">
    <button class="btn btn-success" routerLink="/employee-create">Create</button>
    <table class="table table-bordered table-striped mt-3">
      <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Id card</th>
        <th>Salary</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>Education Degree</th>
        <th>Division</th>
        <th colspan="2" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.idEmployee}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.birthday | date: 'dd/MM/yyyy'}}</td>
        <td>{{employee.idCard}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.phone}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.position.namePosition}}</td>
        <td>{{employee.educationDegree.nameEducation}}</td>
        <td>{{employee.division.nameDivision}}</td>
        <td>
          <a class="btn btn-sm btn-warning">Edit</a>
        </td>
        <td>
          <a class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



