<div class="row">
  <div class="col-lg-1"></div>
  <div style="padding-top: 3rem" class="col-lg-2">
    <a class="btn btn-success" href="/">Back To list Contract</a>
  </div>
  <div class="col-lg-9">
    <h1>Add New Contract Detail</h1>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="idContract">Customer</label>
          <select id="idContract" class="form-control">
            <option></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="attach">Attach Service</label>
          <select id="attach" class="form-control" >
            <option></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity"  placeholder="Input quantity" >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success">Add Contract Detail</button>
        </div>
      </div>
  </div>
</div>
