<div class="row">
  <div class="col-lg-1"></div>
  <div style="padding-top: 3rem" class="col-lg-2">
    <a class="btn btn-success" href="/">Back To list Contract</a>
  </div>
  <div class="col-lg-9">

    <h1>Add New Customer</h1>
      <div class="row">
        <div class="form-group col-md-5">
          <label for="startDay">Start Day</label>
          <input type="date" class="form-control" id="startDay"  placeholder="Input name customer">
        </div>
        <div class="form-group col-md-5">
          <label for="endDay">End Day</label>
          <input type="date" class="form-control" id="endDay" >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="deposit">Deposit</label>
          <input type="text" class="form-control" id="deposit"  placeholder="Input deposit" >
        </div>
        <div class="form-group col-md-4">
          <label for="money">Total Money</label>
          <input type="text" class="form-control" id="money"  placeholder="Input total money" >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="staff">Staff Contracting</label>
          <select id="staff" class="form-control">
            <option ></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="customer">Customer Contracting</label>
          <select id="customer" class="form-control" >
            <option></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="service">Service Contracting</label>
          <select id="service" class="form-control" >
            <option ></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-success">Create Contract</button>
        </div>
      </div>

  </div>
</div>
